<br>
<br>
<br>
<br>
<header id="nav-wrapper">
  <nav id="nav">
    <div class="nav left">
      <span class="gradient skew"><h1 class="logo un-skew"><a href="#home">Flex IS</a></h1></span>
      <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
    </div>
    <div class="nav right">
      <a href="#home" class="nav-link active"><span class="nav-link-span"><span class="u-nav">Home</span></span></a>
      <a href="#about" class="nav-link"><span class="nav-link-span"><span class="u-nav">About</span></span></a>
      <a routerLink="/update" class="nav-link">
        <span class="nav-link-span">
          <span class="u-nav">Update</span>
        </span>
      </a>
      <a routerLink="/fwaAnalytics" class="nav-link">
        <span class="nav-link-span">
          <span class="u-nav">View FWA Analytics</span>
        </span>
      </a>
      <a routerLink="/review" class="nav-link">
        <span class="nav-link-span">
          <span class="u-nav">Review</span>
        </span>
      </a>

      <a href="#contact" class="nav-link"><span class="nav-link-span"><span class="u-nav">Contact</span></span></a>
    </div>
  </nav>
</header>
<mat-card>
  <h2 class="info-text" style="font-size: 50px;">View FWA Analytics</h2>
  <div class="container" *ngIf="scheduleData.length > 0 && !showDetails">
    <h3>FWA status for each department:</h3>
    <table>
      <thead>
        <tr>
          <th>Department Name</th>
          <th>Flexi Hours</th>
          <th>Work From Home</th>
          <th>Hybrid</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of departmentData">
          <td>{{ data.deptName }}</td>
          <td>{{ data.flexiHours }}</td>
          <td>{{ data.workFromHome }}</td>
          <td>{{ data.hybrid }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <br>
  <!-- Select department -->
  <div class="container" *ngIf="scheduleData.length > 0 && !showDetails">
    <mat-form-field style="width: 250px;">
      <mat-label>Select Department:</mat-label>
      <mat-select [(ngModel)]="selectedDepartment">
        <mat-option *ngFor="let dept of departmentData" [value]="dept.deptID">{{ dept.deptName }}</mat-option>
      </mat-select>
    </mat-form-field><br>
    <div style="text-align: center;">
      <button mat-raised-button class="button-blue" (click)="viewDetails()">View Details</button>
    </div>
  </div>
  <br>

  <!-- Select date range -->
  <div class="container" *ngIf="showDetails">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Total Requests</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let key of dateKeys">
          <td>{{ key }}</td>
          <td>{{ dateCounts[key] }}</td>
        </tr>
      </tbody>
    </table>
    <br>

    <mat-form-field style="margin-right: 20px;">
      <mat-label>Start Date:</mat-label>
      <input matInput [matDatepicker]="picker1" [(ngModel)]="startDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>End Date:</mat-label>
      <input matInput [matDatepicker]="picker2" [(ngModel)]="endDate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field><br>
    <div style="text-align: center;">
      <button mat-raised-button class="button-blue" (click)="viewSchedule()">View Schedule</button>
    </div>
  </div>
  <br>

  <!-- Show schedule data -->
  <div class="container" *ngIf="filteredScheduleData.length > 0 && showSchedule">
    <h3>Schedule Data:</h3>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Employee ID</th>
          <th>Work Location</th>
          <th>Work Hours</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of filteredScheduleData">
          <td>{{ data.date | date }}</td>
          <td>{{ data.employeeID }}</td>
          <td>{{ data.workLocation }}</td>
          <td>{{ data.workHours }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>


  <p class="info-text mat-body-1" *ngIf="scheduleData.length == 0">No Schedule added yet </p>
</mat-card>

<footer style="text-align: center;">
  &#169; B2000280 & B2001114
</footer>
