.container {
  margin: auto;
  max-width: 800px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  text-align: left;
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

mat-card{
  width: 50%;
  margin: auto;
  align-items: center;
}

.info-text {
  text-align: center;
  margin-top: 20px;
}

/*----------Footer---------*/
footer {
  text-align: center;
  padding: 3px;
  background-color: #00A3FF;
  color: white;
  clear: both;
  position: relative;

  margin-top: 405px;
}

.button-blue {
  background-color: #00A3FF;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: #00A3FF;
  color: white;
  clear: both;
  bottom: 0;
  position: fixed;
  width:100%;
}
#nav-wrapper {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#nav {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  font-family: "Saira Semi Condensed", sans-serif;
  height: 4em;
  overflow: hidden;
}

#nav.nav-visible {
  height: 100%;
  overflow: auto;
}


.nav {
  display: flex;
  height: 4em;
  line-height: 4em;
  flex-grow: 1;
}

.nav-link,
.logo {
  padding: 0 1em;
}

span.gradient {
  background: linear-gradient(to right, #f857a8, #ff5858);
  padding: 0 1em;
  position: relative;
  right: 1em;
  margin-right: auto;
}

span.gradient:hover {
  animation-name: logo-hover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
}

h1.logo {
  font-weight: 300;
  font-size: 1.75em;
  line-height: 0.75em;
  color: #fff;
}

h1.logo a {
  text-decoration: none;
  color: #fff;
}

.nav-link {
  text-transform: uppercase;
  text-align: center;
  border-top: 0.5px solid #ddd;
}

a:not(.btn-nav) {
  text-decoration: none;
  color: #fff;
}

a:not(.btn-nav):hover {
  text-decoration: underline;
}

.right {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.btn-nav {
  color: #f857a8;
  padding-left: 2em;
  padding-right: 2em;
}

@media (min-width: 800px) {
  #nav-wrapper {
    overflow: hidden;
  }

  #nav {
    overflow: hidden;
    flex-direction: row;
  }

  .nav-link {
    border-top: none;
  }

  .right {
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    left: 1.5em;
    height: auto;
  }

  .btn-nav {
    display: none;
  }

  .nav a:not(.btn-nav).active {
    background: linear-gradient(to right, #f857a8, #ff5858);
    color: #fff;
  }

  .nav-link-span {
    transform: skew(-15deg);
    display: inline-block;
    font-weight: bold;
  }

  .nav-link {
    transform: skew(15deg);
    color: #777;
    text-decoration: none;
  }

  .nav-link:last-child {
    padding-right: 3em;
  }

  a:hover.nav-link:not(.active) {
    color: #444;
    background: #ddd;
    background: linear-gradient(45deg, #f2f2f2, #ddd);
  }
}

@keyframes logo-hover {
  20% {
    padding-right: 0em;
  }
  100% {
    padding-right: 5em;
  }
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #00A3FF;
  color: white;
  clear: both;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.button-blue{
  background-color: #00A3FF;
}
