<header id="nav-wrapper">
  <nav id="nav">
    <div class="nav left">
      <span class="gradient skew"><h1 class="logo un-skew"><a href="#home">Flex IS</a></h1></span>
      <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
    </div>

  </nav>
</header>
<br>
<br>
<br>
<br>
<form (submit)="login(loginForm)" #loginForm="ngForm">
  <div>
    <label for="username">Employee ID:</label>
    <input type="text" id="employeeId" name="employeeId" [(ngModel)]="employeeId" required>

  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required>

  </div>
  <button type="submit">Login</button>
</form>
<p *ngIf="error" style="color: red;">Invalid username or password.</p>
<footer style="text-align: center;">
  &#169; B2000280 & B2001114
</footer>
