<br>
<br>
<br>
<br>
<header id="nav-wrapper">
  <nav id="nav">
    <div class="nav left">
      <span class="gradient skew"><h1 class="logo un-skew"><a href="#home">Flex IS</a></h1></span>
      <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
    </div>
    <div class="nav right">
      <a href="review-request" class="nav-link"><span class="nav-link-span"><span class="u-nav">Review FWA Request</span></span></a>

      <a href="fwaAnalytics" class="nav-link"><span class="nav-link-span"><span class="u-nav">View FWA Analytics</span></span></a>
      <a href="review" class="nav-link active"><span class="nav-link-span"><span class="u-nav">Review Employee Schedule</span></span></a>
      <a href="" class="nav-link"><span class="nav-link-span"><span class="u-nav">Logout</span></span></a>
    </div>
  </nav>
</header>
<mat-card>
  <h1 style="font-size: 50px;" class="info-text">Review Employee Schedule</h1>
  <mat-form-field *ngIf="dailySchedules.length>0">
    <input matInput [matDatepicker]="picker" placeholder="Select a date" [(ngModel)]="selectedDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <button mat-raised-button color="primary" (click)="onDateSelected()">OK</button>
  </mat-form-field>
  <mat-accordion multi="true" *ngIf="filteredSchedules.length > 0">
    <br>
    <mat-expansion-panel *ngFor="let ds of filteredSchedules">
      <mat-expansion-panel-header>
        {{ ds.employeeId }}
      </mat-expansion-panel-header>
      <p>Work Location :{{ ds.workLocation }}</p>
      <p>Working Hours :{{ ds.workHours }}</p>
      <p>Date :{{ ds.date }}</p>
      <p>supervisorComments :{{ds.comment}}</p>
    </mat-expansion-panel>
  </mat-accordion>

  <p class="info-text mat-body-1" *ngIf="filteredSchedules.length == 0 && dailySchedules.length != 0">No Schedule on this day </p>
  <p class="info-text mat-body-1" *ngIf="dailySchedules.length == 0">No Schedule added yet </p>
</mat-card>
<br>
<br>

<footer style="text-align: center;">
  &#169; B2000280 & B2001114
</footer>
