<br>
<br>
<br>
<header id="nav-wrapper">
  <nav id="nav">
    <div class="nav left">
      <span class="gradient skew"><h1 class="logo un-skew"><a href="#home">Flex IS</a></h1></span>
      <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
    </div>
    <div class="nav right">
      <a href="submit-request" class="nav-link"><span class="nav-link-span"><span class="u-nav">Submit FWA Request</span></span></a>
      <a href="update" class="nav-link active"><span class="nav-link-span"><span class="u-nav">Update Daily Schedule</span></span></a>
    
      <a href="" class="nav-link"><span class="nav-link-span"><span class="u-nav">Logout</span></span></a>
    </div>
  </nav>
</header>


<mat-card>
  <h1 style="font-size: 50px;">Update Daily Schedule</h1>
  <form (submit)="onAddSchedule(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Select a date" ngModel #date="ngModel" name="date" [(ngModel)]="selectedDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="date.invalid">Invalid date</mat-error>
      <button mat-raised-button color="primary" (click)="onDateSelected()" >OK</button>
    </mat-form-field>
    <div *ngIf="showForm">
      <h1>Fill in your schdule information:</h1>
      <mat-form-field>
        <input matInput name="workLocation" type="text" ngModel required minlength="3"  #workLocation="ngModel" placeholder="Enter your work location">
        <mat-error *ngIf="workLocation.invalid"> Please enter a work location</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Select work hours" ngModel #workHours="ngModel" name="workHours" >
          <mat-option value="8am - 4pm">8am - 4pm</mat-option>
          <mat-option value="9am - 5pm">9am - 5pm</mat-option>
          <mat-option value="10am - 6pm">10am - 6pm</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput rows="4" name="workReport" ngModel required #workReport="ngModel" placeholder="Enter your work report" ></textarea>
        <mat-error *ngIf="workReport.invalid"> Please enter a work report</mat-error>
      </mat-form-field>
      <hr>
      <button mat-raised-button class="button-blue" type="submit">Update</button>
      <br>
    </div>
    <br>
  </form>
  <!-- <p>{{newPost}}</p> -->


</mat-card>

<footer style="text-align: center;">
  &#169; B2000280 & B2001114
</footer>
