mat-card{
  width: 50%;
  margin: auto;
  display: flex;
    flex-direction: column;
    align-items: center;
}

mat-form-field,
  textarea{
    width: 100%;
  }


button[type="submit"] {
  margin-top: 20px;
  align-self: center;
  display: block;
  margin: 0 auto;
  width: 150px;
  background-color: #00A3FF;
}

/*----------Footer---------*/
footer {
  text-align: center;
  padding: 3px;
  background-color: #00A3FF;
  color: white;
  clear: both;
  position: relative;

  margin-top: 105px;
}


