
<header id="nav-wrapper">
  <nav id="nav">
    <div class="nav left">
      <span class="gradient skew"><h1 class="logo un-skew"><a href="#home">Flex IS</a></h1></span>
      <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
    </div>
    <div class="nav right">
      <a href="admin-homepage" class="nav-link"><span class="nav-link-span"><span class="u-nav">Home Page</span></span></a>
      <a href="" class="nav-link active"><span class="nav-link-span"><span class="u-nav">Register Employee</span></span></a>
      <a href="" class="nav-link"><span class="nav-link-span"><span class="u-nav">View FWA Analytics</span></span></a>
      
      <a href="" class="nav-link"><span class="nav-link-span"><span class="u-nav">Logout</span></span></a>
    </div>
  </nav>
</header>
<br>
<br>
<br>
<br>
<div class="container">
  <form  #ngForm="ngForm">
    <label for="department">Department:</label>
    <select id="department" [(ngModel)]="selectedDepartment" name="department">
      <option value="">-- Select Department --</option>
      <option *ngFor="let dept of departments" [value]="dept.deptID">{{ dept.deptName }}</option>
    </select>
    <br>
  
    <label>
      Employee Name:
      <input type="text" [(ngModel)]="employeeName" name="employeeName" required>
    </label>
    <br>
  
    <label>
      Employee ID:
      <input type="text" [(ngModel)]="employeeID" name="employeeID" required>
    </label>
    <br>
  

    <label>
      Position:
      <select type="position" id="position" name="position" [(ngModel)]="position" ng-change="TypeChange(position,$index)" required>
        <option value="">-- Select Position --</option>
        <option value="Supervisor">Supervisor</option>
        <option value="Employee">Employee</option>
      </select>
    </label>
    <br>
    <label>
      Email:
      <input type="email" [(ngModel)]="email" name="email" required>
    </label>
    <br>
    <label>
      Supervisor ID:
      <input id="supervisorID" type="text" [(ngModel)]="supervisorID" name="supervisorID" [disabled]="position === '1'" required>
    </label>
    <br>
  
    <button type="submit" (click)="addEmployee()" >Register Employee</button>
  </form>
  
</div>
