<header id="nav-wrapper">
  <nav id="nav">
    <div class="nav left">
      <span class="gradient skew"><h1 class="logo un-skew"><a href="#home">Logo Here</a></h1></span>
      <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
    </div>
    <div class="nav right">
      <a href="#home" class="nav-link active"><span class="nav-link-span"><span class="u-nav">Home</span></span></a>
      <a href="#about" class="nav-link"><span class="nav-link-span"><span class="u-nav">About</span></span></a>
      <a routerLink="/update" class="nav-link">
        <span class="nav-link-span">
          <span class="u-nav">Update</span>
        </span>
      </a>
      <a routerLink="/fwaAnalytics" class="nav-link">
        <span class="nav-link-span">
          <span class="u-nav">View FWA Analytics</span>
        </span>
      </a>
      <a routerLink="/review" class="nav-link">
        <span class="nav-link-span">
          <span class="u-nav">Review</span>
        </span>
      </a>

      <a href="#contact" class="nav-link"><span class="nav-link-span"><span class="u-nav">Contact</span></span></a>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

