mat-card{
  width: 50%;
  margin: auto;
}


mat-form-field,
  textarea{
    width: 100%;
  }

  .info-text {
    text-align: center;
    margin-top: 20px;
  }

  /*----------Footer---------*/
footer {
  text-align: center;
  padding: 3px;
  background-color: #00A3FF;
  color: white;
  clear: both;
  position: relative;

  margin-top: 405px;
}
.button-blue {
  background-color: #00A3FF;
}
